@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  .input {
    @apply border border-gray-300 rounded-lg px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

.btn-primary {
  @apply w-full bg-gradient-to-r from-blue-600 to-blue-500 text-white py-2 rounded-xl text-sm font-medium hover:from-blue-700 hover:to-blue-600 transition;
}


  .btn-secondary {
    @apply bg-gray-200 text-gray-800 px-4 py-2 rounded-lg text-sm hover:bg-gray-300 transition;
  }

  .btn-danger {
    @apply bg-red-500 text-white px-4 py-2 rounded-lg text-sm hover:bg-red-600 transition;
  }

}
